{% extends "student-navbar.html" %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block content %}
<div class="w-full flex flex-wrap justify-center">
    <!--Dados do usuário-->
    <div class="w-full md:w-1/5 mb-4 md:mb-0">
        <img src="https://mdbootstrap.com/img/Photos/Others/images/90.jpg" alt="logo-empresa" class="rounded-full w-40 h-40 mt-8 mb-8 mx-auto">
        <div class="w-3/4 ml-auto">
            <span class="font-semibold text-purple-900 text-2xl block">Nome do usuário</span>
            <span class="text-gray-800 text-sm">{{ user }}</span>
            <p class="text-gray-900 text-sm my-4 w-5/6 text-justify">
                {% if user.empresaprofile.description %}
                    {{ user.empresaprofile.description }}
                {% else %}
                    No description.
                {% endif %}
            </p>
            <span class="text-gray-700 text-sm mb-2 block"><i class="fas fa-graduation-cap mr-2"></i>Estudante do(a) {{ user.estudanteprofile.universidade }}</span>                  <!--https://fontawesome.com/icons/graduation-cap?style=solid-->
            <span class="text-gray-700 text-sm mb-2 block"><i class="fas fa-book mr-2"></i>Cursa {{ user.estudanteprofile.curso }}</span> <!--https://fontawesome.com/icons/book?style=solid-->
        </div>
    </div>
    <!--Lista de trabalhos-->
    <div class="w-full md:w-2/5 flex flex-col">
        {% include "work-proposal.html" with proposals=proposals work_detail=work_detail %}
    </div>
</div>
{% endblock %}