<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
    <link rel="stylesheet" href="{% static "fontawesome-free-5.9.0-web/css/all.min.css" %}">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {% endblock %}
    {% block title %}
    <title>Freelance project</title>
    {% endblock %}
</head>
<body class="bg-gray-200 font-sans">
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>