<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Nome do projeto</title>
</head>
<body class="bg-gray-200 font-sans">
    <!--Navbar-->
    <nav class="w-full overflow-auto bg-white fixed shadow-md">
        <ul class="m-0 p-0 list-none leading-3_75">
            <li class="float-left mb-1 w-full mdw-36">
                <a href="#" class="font-semibold no-underline block text-center text-purple-800 text-lg hover-xl hover:text-purple-600">Início</a>
            </li>
            <li class="float-left mb-1 w-full mdw-36">
                <a href="#" class="font-semibold no-underline block text-center text-purple-800 text-lg hover-xl hover:text-purple-600">Trabalhos</a>
            </li>
            <li class="float-left mb-1 w-full mdw-36">
                <a href="work.html" class="font-semibold no-underline block text-center text-purple-800 text-lg hover-xl hover:text-purple-600">Novo Trabalho</a>
            </li>
            <li class="float-right mb-1 w-full md:w-24">
                <a href="index.html" class="font-semibold no-underline block text-center text-purple-800 text-lg hover-xl hover:text-purple-600 hover-xl">Sair</a>
            </li>
            <li class="float-right mb-1 w-full md:w-24">
                <span class="font-semibold no-underline block text-center text-purple-800 text-lg">@usuario</span>
            </li>
        </ul>
    </nav>
</body>
</html>