{% extends "mainpage.html" %}
{% block navbar %}
<!--Navbar-->
<nav class="sticky top-0 line-height-4x flex justify-between bg-white shadow-lg">
    <div class="">
        <a href="{% url 'webapp:estudante:home_page' %}" class="font-semibold text-purple-900 text-lg hover:underline px-10">Início</a>
        <a href="{% url 'webapp:estudante:subscribed_works' %}" class="font-semibold text-purple-900 text-lg hover:underline px-10">Trabalhos inscritos</a>
    </div>
    <div class="flex justify-between">
        <form method="get" action="{% url 'webapp:estudante:search_work' %}" class="flex my-auto px-10" style="line-height: 2rem;">
            {% csrf_token %}
            <input name='key' type="text" name="" placeholder="Procurar trabalho" class="w-64 border-none outline-none bg-gray-100 p-0-1 rounded-l h-8">
            <input type="submit" value="Pesquisar" class="rounded-r bg-purple-800 hover:bg-purple-600 text-white font-semibold px-5 py-0">
        </form>
        <a href="{% url 'webapp:estudante:account_information' %}" class="font-semibold text-purple-900 text-lg hover:underline px-10">{{ user }}</a>
        <a href="{% url 'webapp:logout_page' %}" class="font-semibold text-purple-900 text-lg hover:underline px-10">Sair</a>
    </div>
</nav>
{% endblock %}