{% load trabalho_extras %}
{% for proposal in proposals %}
<!--Proposta-->
<div class="bg-white p-5 md:p-0">
    <div class="flex flex-wrap justify-around text-justify my-5 md:my-10">
        <img src="{{ proposal.business.profile_pic.url }}" alt="logo-empresa" class="rounded-full w-20 h-20 m-auto">
        <div class="w-full lg:w-8/12 m-auto my-5 md:my-5 text-gray-700 text-center md:text-justify">
            <a href="{{ work_detail|addstr:proposal.pk|addstr:'/' }}" class="text-xl font-semibold text-purple-900 hover:underline">{{ proposal.titulo }}</a>
            <p>{{ proposal.descricao }}</p>
        </div>
    </div>
    <div class="flex flex-wrap justify-around text-center mb-8  ">
            <span class="text-sm font-semibold text-gray-800"><i class="fas fa-money-bill-alt"></i> Pagamento: {{ proposal.pagamento }}</span>
            <span class="text-sm font-semibold text-gray-800 lg:mr-5"><i class="fas fa-calendar-times"></i> {{ proposal.inicio }}</span>
            <span class="text-sm font-semibold text-gray-800"><i class="fas fa-calendar"></i> {{ proposal.fim }}</span>
    </div>
    <hr class="hr-purple">
</div>
{% endfor %}