{% extends "webapp-navbar.html" %}
{% block content %}
{% load staticfiles %}
<div class="flex flex-wrap font-sans lg:h-screen bg-login">
    <!--Estudante-->
    <div class="flex flex-wrap lg:w-1/2 mb-10 lg:mb-0">
        <div class="mx-auto my-auto w-10/12 lg:w-2/3">
            <div class="bg-white overflow-hidden rounded-lg shadow-md">
                <img alt="student-profile" class="block h-auto w-full" src="{% static 'assets/student-profile.jpg' %}">
                <div class="flex flex-col p-2 md:p-4 text-center">
                    <h2 class="text-2xl font-bold">Estudante</h2>
                    <p class="text-gray-700 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                        perferendis eaque,
                        exercitationem praesentium nihil.
                    </p>
                </div>
                <div class="flex items-center justify-center p-2 md:p-4">
                    <a href="{{ url_estudante }}" class=" btn bg-purple-700 hover:bg-purple-900 text-white font-bold py-2 px-5 md:py-3 md:px-8 rounded-full">Escolher</a>
                </div>
            </div>
        </div>
    </div>
    <!--Empresa-->
    <div class="flex flex-wrap lg:w-1/2 mb-10 lg:mb-0">
        <div class="mx-auto my-auto w-10/12 lg:w-2/3">
            <div class="bg-white overflow-hidden rounded-lg shadow-md">
                <img alt="company-profile" class="block h-auto w-full" src="{% static 'assets/company-profile.jpg' %}">
                <div class="flex flex-col p-2 md:p-4 text-center">
                    <h2 class="text-2xl font-bold">Empresa</h2>
                    <p class="text-gray-700 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                        perferendis eaque,
                        exercitationem praesentium nihil.
                    </p>
                </div>
                <div class="flex items-center justify-center p-2 md:p-4">
                    <a href="{{ url_empresa }}" class="btn bg-purple-700 hover:bg-purple-900 text-white font-bold py-2 px-5 md:py-3 md:px-8 rounded-full">Escolher</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}