{% extends extends %}
{% block title %}
<title>{{ user.username }}</title>
{% endblock %}
{% block content %}
<div class="w-full flex flex-wrap justify-center">
    <header class="w-full h-32 md:h-48 header-student">
        <div class="w-1/2 md:w-1/3 flex justify-center">
            {% if user.estudanteprofile %}
            <img src="{{ user.estudanteprofile.profile_pic.url }}" alt="icone-usuario"
            class=" float-left rounded-full border-8 border-white w-32 h-32 md:w-48 md:h-48 mt-8 mb-8 mt-16 md:mt-24 shadow-md">
            {% else %}
            <img src="{{ user.empresaprofile.profile_pic.url }}" alt="icone-usuario"
            class=" float-left rounded-full border-8 border-white w-32 h-32 md:w-48 md:h-48 mt-8 mb-8 mt-16 md:mt-24 shadow-md">
            {% endif %}
        </div>
    </header>
    <div class="ml-auto md:ml-0 w-1/2 mt-2 flex flex-col">
        <span class="float-right font-semibold text-blue-600 text-xl md:text-3xl">{{ user.first_name }} {{ user.last_name }}</span>
        <span class="text-gray-700 text-lg font-semibold">({{ user }})</span>
    </div>
    <div class="w-5/6 md:w-2/3 mt-16 flex flex-col shadow-lg bg-white">
        <h2 class="text-2xl md:text-4xl font-semibold text-blue-600 text-center mb-8 pt-2">Perfil</h2>
        <div class="w-full flex justify-center mb-8">
            <div class="w-4/5 md:w-3/5 flex flex-col">
                {% if user.estudanteprofile %}
                <h3 class="text-xl md:text-2xl font-semibold text-blue-600 mb-2">Descrição</h3>
                <p class="text-gray-800 text-justify mb-4">
                    {% if user.estudanteprofile.descricao %}
                        {{ user.estudanteprofile.descricao }}
                    {% else %}
                        No description
                    {% endif %}
                </p>
                <h3 class="text-xl md:text-2xl font-semibold text-blue-600 mb-2">Informações acadêmicas</h3>
                <div class="flex flex-wrap">
                    <span class="text-gray-900 mr-2 font-semibold">Universidade:</span>
                    <span class="text-sm md:text-base text-gray-800">{{ user.estudanteprofile.universidade }}</span>
                </div>
                <div class="flex flex-wrap">
                    <span class="text-gray-900 mr-2 font-semibold">Curso:</span>
                    <span class="text-sm md:text-base text-gray-800">{{ user.estudanteprofile.curso }}</span>
                </div>
                <div class="flex flex-wrap">
                    <span class="text-gray-900 mr-2 font-semibold">Ano de formatura:</span>
                    <span class="text-sm md:text-base text-gray-800">{{ user.estudanteprofile.previsao_formatura }}</span>
                </div>
                {% else %}
                <h3 class="text-xl md:text-2xl font-semibold text-blue-600 mb-2">Descrição</h3>
                <p class="text-gray-800 text-justify mb-4">
                    {% if user.empresaprofile.description %}
                        {{ user.empresaprofile.description}}
                    {% else %}
                        No description
                    {% endif %}
                </p>
                <h3 class="text-xl md:text-2xl font-semibold text-blue-600 mb-2">Informações adicionais</h3>
                <div class="flex flex-wrap">
                    <span class="text-gray-900 mr-2 font-semibold">Cidade:</span>
                    <span class="text-sm md:text-base text-gray-800">{{ user.empresaprofile.cidade }}</span>
                </div>
                <div class="flex flex-wrap">
                    <span class="text-gray-900 mr-2 font-semibold">Área de atuação:</span>
                    <span class="text-sm md:text-base text-gray-800">{{ user.empresaprofile.area }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}